{% extends "home.html" %} {% block content %}
<script>
  function goToSearch(eid) {
    window.location.href = "http://127.0.0.1:5000/searchEmployee?eid="+eid;
  }
  </script>
<div class="container-fluid">
  <h3>Employee table</h3>
  <div class="table table-responsive-lg table-sm table-hover container-fluid">
    <table>
      <caption>List of employees</caption>
        <tr>
            <th>EID</th>
            <th>Name</th>
            <th>Contact No.</th>
            <th>Email</th>
            <th>Adhaar card</th>
            <th>DOJ</th>
            <th>Blood Group</th>
            <th>Department</th>
            <th>Designation</th>
            <th>action</th>
        </tr>
        {% for emp in employees %}
          <tr>
            <td>{{ emp.eid }}</td>
            <td>{{ emp.fname }} {{ emp.lname }}</td>
            <td>{{ emp.c_no }}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.adhaar }}</td>
            <td>{{ emp.doj }}</td>
            <td>{{ emp.blood_group }}</td>
            <td>{{ emp.dept }}</td>
            <td>{{ emp.deg }}</td>
            <td><button onclick="goToSearch({{ emp.eid }})">Check Details</button></td>
          </tr>
        {% endfor %}
    </table>
  </div>
</div>
{% endblock %}